
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ usuario?.name }} {{ usuario?.firstname }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <img [src]="usuario?.profile || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Profile Picture" class="profile-picture">
    <div class="profile-name">{{ usuario?.name}} {{ usuario?.firstname }}</div>
    <div class="profile-grade">Edad: {{ edad }} años</div>
    <div  class="profile-teacher">Maestra{{ usuario?.maestra?.length > 1 ? 's' : '' }}: {{usuario?.maestra ? usuario?.maestra : 'Sin Asignar'}}</div>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{ usuario?.name}} {{ usuario?.firstname }} {{ usuario?.lastname }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="woman-outline" slot="start"></ion-icon>
      <ion-select [(ngModel)]="miss"  aria-label="Maestra" [multiple]="true"  label="Maestra: {{usuario?.maestra ? usuario?.maestra : 'Sin Asignar'}}" interface="alert">
        <ion-select-option *ngFor="let maestra of maestras"
        [value]="maestra?.name" selected="usuario?.maestra">{{maestra?.name}} {{ maestra?.firstname }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{ usuario?.birthday }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{ usuario?.email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
     <ion-label>{{ usuario?.tutor }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
     <ion-label>{{ usuario?.phone }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="UpdateEstudiante()" expand="block" color="primary" class="ion-margin-top">Guardar Cambios</ion-button>
</ion-content>
