<ion-content class="content">
  <div class="header">
    <h3>Bienvenido</h3>
    <h1>Inicia Sesion <br> para continuar</h1>
  </div>

 
  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
    <div class="login-form">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="email" placeholder="Usuario" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="{{ inputType }}" placeholder="Contraseña" formControlName="password"></ion-input>
        <ion-icon *ngIf="loginForm.get('password') && loginForm.get('password')?.value"  name="{{ iconType }}" (click)="togglePassword()" slot="end"></ion-icon>
      </ion-item>
   
      <div class="forget-password">
        <h3>Olvidaste tu contraseña?</h3>
      </div>
    </div>

    <div class="login-button">
      <ion-button fill="clear" type="submit">
      Iniciar sesion <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

  <div class="footer">
    <h3>No tienes cuenta? <span id="open-modal">Info</span></h3>
  </div>


  <!-- Modal info-->
  <ion-modal #modal trigger="open-modal">
    <ng-template>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content>
          <p>Contenido del modal</p>
        </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>