<ion-app>
    <ion-menu contentId="main-content" menuId="main-menu">
      <ion-content>
        <div class="menu-header-bg"></div>
        <ng-container *ngIf="user$ | async as user">
          <div class="header-content">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <ion-label >
                <h2>Hola</h2>
                <h3>{{user.email}}</h3>
              </ion-label>
          </div>
         </ng-container>

         <ion-list class="menu-items" lines=none>
          <ion-menu-toggle auto-hide="false">
          <ion-item routerLinkActive="active" routerLink="register-user">
            <ion-icon name="person-add-sharp"></ion-icon>
            <ion-label>Registrar Estudiante</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="users">
            <ion-icon name="people"></ion-icon>
            <ion-label>Estudiantes</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="citas">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Citas</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="auto">
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>Automatizacion</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="birthday">
            <ion-icon name="gift"></ion-icon>
            <ion-label>Cumpleaños</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="team">
            <ion-icon name="id-card"></ion-icon>
            <ion-label>Personal</ion-label>
          </ion-item>

          <ion-item routerLinkActive="active" routerLink="admin-config">
            <ion-icon name="server"></ion-icon>
            <ion-label>Configuracion de Admin</ion-label>
          </ion-item>

          <ion-item (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar Sesion</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
