ion-menu::part(backdrop) {
  background-color: #5271ff;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px #5271ff;
}

.menu-header-bg{
  background: #5271ff;
  background: -webkit-linear-gradient(to right,#004AAD, #5271ff );  
  background: linear-gradient(to right, #004AAD, #5271ff ); 
  height: 180px;
  width: 350px;
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 05);
  transform: rotate(-8deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 20px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 7px solid #1c1c1e;
  }

  h2 {
    font-weight: 300;
    color: #fff;
    margin: 8px;
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
    margin: 8px;
  }
}

.menu-items {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  font-family: 'Poppins', sans-serif;
  margin: 0px;

  ion-icon {
    margin-right: 10px;
    color: #86979f
  }
  
  ion-item {
    padding-left: 15px;
    margin-bottom: 10px; 
  }

  .active {
    border-left: 5px solid;
    color: #5271ff;
    padding-left: 10px;

    ion-icon {
      color: #5271ff;
    }
  }

}
