ion-toolbar {
    --background:  background: linear-gradient(to right, #004AAD, #5271ff );
    background: -webkit-linear-gradient(to right,#004AAD, #5271ff );
    background: linear-gradient(to right, #004AAD, #5271ff );
    --color: #ffffff;
    --font-weight: 500;
}
#btn-register {
    --background:  background: linear-gradient(to right, #004AAD, #5271ff );
    background: -webkit-linear-gradient(to right,#004AAD, #5271ff );
    background: linear-gradient(to right, #004AAD, #5271ff );
    --color: #ffffff;
    --font-weight: 500;
}

ion-input {
    margin-bottom: 10px;
}
ion-select {
    margin-bottom: 10px;
}
h1 {
  text-align: center;
}
