ion-toolbar {
  --background:  background: linear-gradient(to right, #004AAD, #5271ff );
  background: -webkit-linear-gradient(to right,#004AAD, #5271ff );
  background: linear-gradient(to right, #004AAD, #5271ff );
  --color: #ffffff;
  --font-weight: 500;
}

