<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card color="primary" *ngIf="user$ | async as user">
    <ion-card-header>
      <ion-card-title>
        <h2>Hola {{ formatUserName(user.email) }}</h2>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

   <!-- Lista de botones -->
   <ion-list lines="none" class="button-list">
    <ion-item button (click)="navigateTo('/register-user')">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Agregar Estudiante
    </ion-item>
    <ion-item button (click)="navigateTo('/citas')">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Agregar Cita
    </ion-item>
    <ion-item button (click)="navigateTo('/users')">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Ver Estudiantes
    </ion-item>
    <ion-item button (click)="navigateTo('/team')">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Agregar Personal
    </ion-item>
</ion-list>


    <!-- Citas de hoy -->
    <ion-card color="success">
      <ion-card-header>
          <ion-card-title>
              Citas de hoy
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list lines="none">
              <ion-item lines="none" color="success" *ngFor="let cita of citasHoy">
                  <ion-label>
                      <h3>{{ cita.name }}</h3>
                      <p>{{ cita.startDate }}</p>
                      <p>Email: {{ cita.email }}</p>
                      <p>Teléfono: {{ cita.phone }}</p>
                  </ion-label>
              </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>

  <!-- Citas de mañana -->
  <ion-card color="secondary">
      <ion-card-header>
          <ion-card-title>
              Citas de mañana
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list lines="none">
              <ion-item lines="none" color="secondary" *ngFor="let cita of citasManana">
                  <ion-label>
                      <h3>{{ cita.name }}</h3>
                      <p>{{ cita.startDate }}</p>
                      <p>Email: {{ cita.email }}</p>
                      <p>Teléfono: {{ cita.phone }}</p>
                  </ion-label>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>

  <!-- Citas de la próxima semana -->
  <ion-card color="tertiary">
      <ion-card-header>
          <ion-card-title>
              Citas de la próxima semana
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list lines="none">
              <ion-item lines="none" color="tertiary" *ngFor="let cita of citasSemana">
                  <ion-label>
                      <h3>{{ cita.name }}</h3>
                      <p>{{ cita.startDate }}</p>
                      <p>Email: {{ cita.email }}</p>
                      <p>Teléfono: {{ cita.phone }}</p>
                  </ion-label>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>


</ion-content>
