<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Citas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de citas -->
  <div class="appointments-container">
    <ion-card *ngFor="let appointment of appointments" class="appointment-card">
        <ion-card-header>
            <ion-card-title>
                Cita con {{ appointment.name }}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><strong>Email:</strong> {{ appointment.email }}</p>
            <p><strong>Teléfono:</strong> {{ appointment.phone.slice(3) }}</p>
            <p><strong>Fecha y Hora:</strong> {{ appointment.startDate | date: 'short' }}</p>
            <p><strong>Duración:</strong> {{ calculateDuration(appointment.startDate, appointment.endData) }}</p>
        </ion-card-content>
    </ion-card>
  </div>

  <!-- Modal para agregar una nueva cita -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar Cita</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label labelPlacement="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="newAppointment.name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label labelPlacement="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="newAppointment.email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label labelPlacement="stacked">Teléfono</ion-label>
          <ion-input [(ngModel)]="newAppointment.phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label labelPlacement="stacked">Fecha de Inicio</ion-label>
          <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="newAppointment.startDate" required ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label labelPlacement="stacked">Fecha de Fin</ion-label>
          <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="newAppointment.endData" required></ion-datetime>
        </ion-item>

        <ion-button expand="full" (click)="addAppointment()">Agregar Cita</ion-button>
      </ion-list>
    </ion-content>
  </ng-template>
  </ion-modal>
</ion-content>
